<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./partials/head'); %>
    </head>
    <body class="container">

        <header>
        <%- include('./partials/header'); %>
        </header>

        <main>
            <div class="jumbotron">
                <% if (kindOfDay === "Weekend") { %>
                    <h1 style="color:red" >Yay! It's the weekend!</h1> 
                %>
                <% } else { %>
                    <h1 style="color:blue" >Boo! I have to work!</h1>   
                <% }; %>    
                <h1><%= day %>'s ToDo List</h1>
            </div>
        </main>

        <footer>
            <%- include('./partials/footer'); %>
        </footer>
    </body>
</html>